{##
 # Invoice : header : Company address box : Merchant tax number
 #
 # @ListChild (list="invoice.items.head", weight="17")
 #}

{% if this.isUseVatInvoiceMode() %}
<th class="vat-rate">{{ this.getVatName() }}, {{ t('rate') }}</th>
{% endif %}
