{##
 # Membership selector
 #}
<select name="{{ this.getParam('field') }}" class="form-control">
  <option value="" {% if this.isSelected('', this.value) %} selected="selected" {% endif %}>{{ t('No membership') }}</option>
  {% for membership in this.getMemberships() %}
    <option value="{{ membership.membership_id }}" {% if this.isSelectedMembership(membership) %} selected="selected" {% endif %}>{{ membership.getName() }}</option>
  {% endfor %}
</select>
