{##
 # Tax edit page : rates template
 #}

<div class="edit-vat-tax{% if this.config.CDev.VAT.ignore_memberships %} no-memberships{% endif %}">

  <div class="title">{{ t('Rates / Conditions') }}</div>

  {{ widget('XLite\\Module\\CDev\\VAT\\View\\ItemsList\\Model\\Rate') }}

  <div class="buttons">
    {{ widget('\\XLite\\View\\Button\\Submit', label=t('Save changes'), style=' regular-main-button action') }}
  </div>

</div>
