/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Layout styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */
/*
.lc-minicart .items-list {
  padding: 10px;
  width: 330px;
}

.or-line .or {
  font-size: 10px;
}

.lc-minicart .buttons-row {
  white-space: nowrap;
}

.cart-tray .btn {
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
}
*/